# Required environment variables for the script.
JIRA_ORG_ADMIN_API_KEY=
ORGANIZATION_ID=
DIRECTORY_ID=

# Optional environment variables for additional filtering criteria.
# Pattern to match 'displayName'
NAME_PATTERN=^[a-zA-Z]{8} [a-zA-Z]{8}$
# Filter users against the account email domain
EMAIL_DOMAINS=atlassian.biz
# Filter users belonging to a specific group
GROUP_NAME=atlassian-users
